<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <!-- Added a container div for centering -->
    <div class="container">
        
        <header>
            <h1><a href="/">Kiwi Programming Language</a></h1>
            <nav>
                <a href="/">Home</a>
                <a href="/install">Install</a>
                <a href="https://book.metavm.tech/">Book</a>
            </nav>
        </header>

        <main>
            <!-- Injects the title of the specific page -->
            <h1>{{ title }}</h1>
            
            {{ content }}
        </main>

        <footer>
            <p>&copy; 2026 Kiwi Programming Language.</p>
        </footer>

    </div>
    
</body>
</html>